:root {
    --font-family: 'DM Sans', sans-serif;
    --baseblue: #077BCC;
    --bluewhite:rgb(196, 217, 255);
}

p {
    font-family: var(--font-family);
}

body {
    /* margin: auto; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(200, 200, 200) 3%, var(--baseblue) 38%, rgb(1, 8, 212) 98%);
    animation: gradient 30s ease infinite;
    background-size: 300% 200%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#logo{
    width: 6em;
    height: auto;
    margin: 20px;
}

.logotitlewrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10em;
}

#splashtitle {
    font-size: 6em;
    color: var(--bluewhite);
    margin: 0px;
    text-shadow: 3px 3px var(--baseblue);
}

#splashwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splashbuttonwrapper{
    align-self: flex-end;
}

.splashbutton {
    background-color: var(--baseblue);
    border-radius: 10px;
    border: solid;
    color: var(--bluewhite);
    padding: .75em 1.5em;
    text-align: center;
    display: inline-block;
    font-size: .75em;
    margin: 1em .5em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: var(--font-family);
  }


/* all buttons */

button {
    background-color: var(--baseblue); /* Green */
    border-radius: 10px;
    border: solid;
    color: var(--bluewhite);
    padding: .75em 1.5em;
    display: inline-block;
    font-size: .75em;
    margin: 4px 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: var(--font-family);
  }

button:hover {
    box-shadow: 1px 2px 5px rgb(59, 59, 59);
}